.module-column{
  margin-top: 1em;


  &__header{
    width: 100%;
    top: 0;
    background: #333;
    padding: .5em;
    color: #fff;
    position: relative;
    cursor: move;
    border-radius: .5em .5em 0 0;
    & i{
      float: right;
      cursor: pointer;
    }&::after{
      content: '';
      clear: both;
      display: block;
      visibility: hidden;
    }
  }
  &--wide{
    width: 100%;
  }
  &--small{
    width: 100%;
  }
  &__content{
    padding: 1em;
    background: #fff;
    height: 100%;
    border-radius: 0 0 .5em .5em;
  }
}

iframe{
  border-radius: .5em;
}
