.module-column{
  margin: 1em;
  float: left;

  &__header{
    width: 100%;
    top: 0;
    background: #333;
    padding: .5em;
    color: #fff;
    position: relative;
    & i{
      float: right;
      cursor: pointer;
    }&::after{
      content: '';
      clear: both;
      display: block;
      visibility: hidden;
    }
  }
  &--wide{
    width: 90%;
  }
  &--small{
    width: 90%;
  }
  &__content{
    padding: 1em;
    background: #fff;
    height: 100%;
  }
}
