
.fp-body{
  &-column{
    &__title{
      color: #038FD2;
      font-size: 1.2em;
      & img{
        position: relative;
        width: 10%;
        vertical-align: middle;
        animation-name: spinning-Cog;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        transform: translateX(50px) rotate(0deg);
      }
    }
    &__content{
      font-weight: bold;
    }
  }
  &-module{
    &__header{
      padding: .5em;
      background: #333;
      color: #fff;
    }
    &__body{
      padding: .5em;
      height: 150px;
      border: 1px solid #d2d2d2;
      box-shadow: 10px 9px 5px 0px #000000a1;
      border-radius: 0 0 1em 1em;
    }
  }
  &-dashboard{
    width: 50%;
    height: 300px;
    background: #fff;
    float: left;
  }
  &-facebook{
    width: 25%;
    height: 100px;
    background: #4267b2;
    float: left;
    transform: translateY(200%) translateX(25%);

    animation-name: translate-Module;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
}
#fp-book{
  animation-name: wiggle-book;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.fp-container{
  &-about{
  background: #333;
  color: #fff;
  }
}
