.site-header{
  background: $brightOrange;
  width: 100%;
  height: auto;
  position: relative;
  &__column{
    padding: .5em;
    &__left{
      width: 50%;
      &__Logo{
        width: 25%;
      }
    }
  }
}
