.site-header{
  background: linear-gradient(106.85deg, #085F89 35.35%, rgba(255, 255, 255, 0) 97.56%), #038FD2;
  width: 100%;
  height: auto;
  position: relative;
  &__column{
    padding: 1em;
    &__left{
      width: 50%;
      float: left;
      &__Logo{
        width: 25%;
      }
    }
    &__right{
      &__button{
        float: right;
        margin-top: 1.5em;  
      }
    }
  }
}
