.site-header{
  background: $brightOrange;
  width: 100%;
  height: auto;
  position: relative;
  &__column{
    padding: 1em;
    &__left{
      width: 50%;
      float: left;
      &__Logo{
        width: 25%;
      }
    }
    &__right{
      &__button{
        float: right;
        transform: translateY(16px);
      }
    }
  }
}
